<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900666568651-8rqcdfap8nae86suarvqtrnrpp4koj35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900666568651-8rqcdfap8nae86suarvqtrnrpp4koj35</string>
	<key>API_KEY</key>
	<string>AIzaSyDepSEQ81iIMKoNf_63uhBKYm0h96zKocg</string>
	<key>GCM_SENDER_ID</key>
	<string>900666568651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.motorAsin</string>
	<key>PROJECT_ID</key>
	<string>motorasinapp</string>
	<key>STORAGE_BUCKET</key>
	<string>motorasinapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900666568651:ios:4dc750fa57c5e62cdcd04e</string>
	<key>DATABASE_URL</key>
	<string>https://motorasinapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>